@import 'styles/colors';

.welcome {
    max-width: 600px;
    margin: 0 auto;

    .typewrite {
        overflow: hidden;
        border-right: .15em solid var(--clr-primary);
        white-space: nowrap;
        margin: 0 auto;
        letter-spacing: .15em;
        width: 0;

        animation: 
          typing 3.5s steps(40, end),
          blink-caret .75s step-end infinite;

          @keyframes typing {
            from { width: 0% }
            to { width: 100% }
          }

          @keyframes blink-caret {
            from, to { border-color: transparent }
            50% { border-color: var(--clr-primary); }
          }
    }
}