@import 'styles/colors';
@import 'styles/mixins';

.welcome {
    max-width: 600px;
    margin: 0 auto;

    .avatar {
      background: black;
      border-radius: 50%;
      // margin: 10px;
      transform: scale(1);
    
      &:hover {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);        
        animation: pulse 2s infinite;
      }
    }
    
    @keyframes pulse {
      0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
      }
    
      70% {
        // transform: scale(0.95);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
      }
    
      100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      }
    }

    .typewrite {
        overflow: hidden;
        border-right: .15em solid var(--clr-primary);
        white-space: nowrap;
        margin: 0 auto;
        letter-spacing: .15em;
        width: 0;

        &.animate {
          animation: 
          typing 4s steps(40, end) infinite,
          blink-caret .75s step-end infinite;
        }

        @keyframes typing {
          0% { width: 0% }
          45% { width: 100% }
          60% { width: 100% }
          100% { width: 0% }
        }

        @keyframes blink-caret {
          from, to { border-color: transparent }
          50% { border-color: var(--clr-primary); }
        }
    }
}