@import 'styles/colors';
@import 'styles/mixins';

.welcome {
    max-width: 600px;
    margin: 0 auto;

    .avatar {
      @include slow-ease-transition(all);
      transform: rotateY(0deg);

      &:hover {
        animation: coin-flip 1s;
        // transform: rotateY(720deg);
      }

      @keyframes coin-flip {
        from {transform: rotateY(0deg)}
        to {transform: rotateY(720deg)}
      }
    }

    .typewrite {
        overflow: hidden;
        border-right: .15em solid var(--clr-primary);
        white-space: nowrap;
        margin: 0 auto;
        letter-spacing: .15em;
        width: 0;

        &.animate {
          animation: 
          typing 4s steps(40, end) infinite,
          blink-caret .75s step-end infinite;
        }

        @keyframes typing {
          0% { width: 0% }
          45% { width: 100% }
          60% { width: 100% }
          100% { width: 0% }
        }

        @keyframes blink-caret {
          from, to { border-color: transparent }
          50% { border-color: var(--clr-primary); }
        }
    }
}