/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav li {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav li:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  display: flex;
  align-items: center;
  height: 4em;
  margin-left: 12em;
  cursor: pointer;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

.main-navbar {
    display: block;

    li {
      padding-left: 1.5em; 
    }
}

.sidenav-wrapper {
    display: none;
    z-index: 110;
    position: fixed;
    right: 20px;
    top: 0;
    height: 4em;
    align-items: center;

    .menubtn {
      cursor: pointer;
      transition: color ;
      &:hover {
        color: var(--clr-primary);
      }
    }
}

@media screen and (max-width: 768px) {
  .sidenav-wrapper {
    display: flex;
  }

  .main-navbar {
    display: none;
  }
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav li {
    font-size: 18px;
  }
}
