@import 'styles/colors';

.skill-headline {
    flex: 100%;
    text-transform: 100%;
    padding: 20px 0;
    text-transform: uppercase;
}

.skill {
    margin: 0 5px;
    flex: 25%;

    .label {
        margin-right: 10px;
    }
}